// Variables
$primary-color: #007bff;
$secondary-color: #0056b3;
$text-color: #333;
$background-color: #f9f9f9;
$banner-height: 60vh;

// Mixin for flex-center
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Banner Section
.banner {
  background: url('/images/saving-1.png') no-repeat center center;
  @include flex-center;
  flex-direction: column;
  background-size: contain;
  height: 100vh;
  text-align: center;
  color: #fff;
  margin-top: 10px;

  .bannerContent {
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
      margin-top: 700px;
    }

    p {
      font-size: 1.2rem;
      margin-top: 50px;
    }
  }
}

// Content Section
.content {
  background-color: $background-color;
  padding-top: 30px;

  .container {
    max-width: 800px;
    margin: 0 auto;

    .card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

    .card {
      background-color: $background-color;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: calc(50% - 20px);
      max-width: 500px;

      h2, h3 {
        font-size: 1.8rem;
        margin-bottom: 15px;
        text-align: center;
      }

      ul, ol {
        margin-left: 20px;
        color: $text-color;

        li {
          margin-bottom: 10px;

          a {
            color: $primary-color;
            text-decoration: underline;

            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }

    .downloadSection {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;

      .downloadButton {
        background-color: $primary-color;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}

// Responsive Design
@media (max-width: 768px) {
  .banner {
    height: 50vh;

    .bannerContent {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  .content {
    padding: 30px 10px;

    .container {
      .card-container {
        flex-direction: column;
      }

      .card {
        width: 100%;
      }

      h2 {
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .banner {
    height: 40vh;

    .bannerContent {
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }

  .content {
    padding: 20px 5px;

    .container {
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
